

.container {
    font-family: playregular;
}
body{
   
    background-image: url("https://images3.alphacoders.com/877/877470.png");
    opacity: 0.85;
    background-size: contain;
    background-blend-mode:difference;
    
}
.card{
    background-image: url("https://images5.alphacoders.com/637/637668.jpg");
    margin: 20px;
    border-radius: 3px;
    box-shadow: 0 0 0.5rem;
}
.card-header{
    text-align: center;
    justify-content: center;
    color: black
}
.card-body{
    text-align: center;
    justify-content: center;
}
img{
    max-height: 228px;
    max-width: 228px;
    padding: 4%;
}
h1,p{
    color: rgb(0, 0, 0);
    text-align: center;
    justify-content: center;
    padding: 2%;
}
h2{
    font-weight: bold;
}

h4{
    text-align: center;
    justify-content: center;
    color: black;
    padding: 2%;
}
.boxLoading{
    color: rgb(128, 21, 21);
    text-align: center;
    justify-content: center;
}
@font-face {
    font-family: 'playregular';
    src: url('play-regular.woff2') format('woff2'),
         url('play-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}